<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.section01.DynamicSqlMapper">

    <!-- 조회한 컬럼과 DTO를 매핑시키기 위한 설정이다. -->
    <resultMap id="teamResultMap" type="com.ohgiraffers.common.TeamMemberDTO">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="taskCode" column="TASK_CODE"/>
    </resultMap>

    <resultMap id="taskResultMap" type="com.ohgiraffers.common.TaskDTO">
        <id property="taskCode" column="TASK_CODE"/>
        <result property="taskName" column="TASK_NAME"/>
        <result property="deadline" column="DEADLINE"/>
        <result property="completed" column="COMPLETED"/>
    </resultMap>

    <select id="searchName" resultMap="teamResultMap" parameterType="SearchCriteria">
        SELECT
        ID
        , NAME
        , EMAIL
        , PHONE
        , TASK_CODE
        FROM TEAM_MEMBER
        <if test="condition == '업무명'">
            JOIN TASK USING(TASK_CODE)
        </if>
        <if test="condition == '팀원명'">
            WHERE NAME LIKE '%' || #{value} || '%'
        </if>
        <if test="condition == '업무명'">
            AND TASK_NAME = #{value}
        </if>
        ORDER BY ID
    </select>

</mapper>